.segmented-content {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    align-content: start;
  }

  .segmented-page {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: block;
    width: 80%;
    border-radius: 4px;
    overflow: hidden;
    background-color: white;
  }
  
  .segment-tabs {
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
    margin-right: 10px;
    justify-content: space-between;
  }
  
  .segment-tabs button {
    padding: 1rem 1rem;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
    position: relative; /* Ensure relative positioning for pseudo-elements */
  }
  
  .segment-tabs button.active {
    color:rgb(195, 31, 97); /* Color of the active tab text */
  }
  
  .segment-tabs button.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust based on the desired underline position */
    width: 100%;
    height: 2px;
    background-color:rgb(195, 31, 97); /* Color of the underline */
  }

  @media (max-width: 768px) {
  
    .segment-tabs {
      flex-direction: column;
      margin-bottom: 20px;
    }
    .button {
      flex-direction: column;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
  }
  
