:root {
    --color-primary:  rgb(195, 31, 97); /* blue */
    --color-secondary: #28a745; /* green */
    --color-accent: #ffc107; /* yellow */
    --color-text: #333; /* dark grey */
    --color-background: #f0f0f0; /* light grey */
  }