:root {
  --custom-gap: 50px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-view {
  padding: 16px;
  background-color:white;
}

  .content-wrapper-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .content-wrapper-row {
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--custom-gap);
  }

  .error-message {
    color: red;
    font-size: 14px;
    margin-left: 8px;
    /* margin-top: 5px;  */
  }


  .info-container {
    display: flex;
    align-items: center;
    justify-content: flex-start ;
    padding-left: 16px;
    /* padding: 16px; */
  }
  
  .info-title {
    font-size: 12px;
    font-weight:500;
  }
  
  .info-value {
    margin-left: 8px;
    font-size: 10px;
    font-weight: normal;
    color: gray;
  }

  .download-view {
    background-color:lightpink;
    padding: 16px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
  }

  .app-image {
   height: 50;
   width: 50;
  }

  .dwonlaod-title {
    font-size: 20px;
    font-weight:400;
  }