.card {
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* height:150px; */
  /* justify-content: flex-start;
  align-items: flex-start; */
}

.card:hover {
  border-radius: 8px;
  background-color: lightpink;
  border-color: violet;
  /* transform: translateY(-10px); */
}

.card h2 {
  margin: 0 0 8px;
}

.card p {
  margin: 0;
  color: gray;
}

.image {
  max-width: 100px;
  margin-right: 16px;
  margin-bottom:8px ;
}
