body {
  padding: 16px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;  
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(244, 240, 240);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }

  .askquery-textfield-container {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .form-row label {
    width: auto;
    margin-right: 0;
    margin-bottom: 5px;
  }
}
